
<!DOCTYPEHTML>
<html>
<link rel="stylesheet"
      type="text/css"
      href="../static/styles/index.css"/>
<body>  
<head>
<title>
Wintr
</title>
<center>
<h1>Wintr</h1>
<br>
Encyclotainment
</center>
</head>
<span>
Welcome to Wintr, your one stop shop for what you are searching for.
</span>
<br>
<br>
<br>
<br>
{% if message%}
	{{message}}
	{% endif%}
<form method="POST" action="/">
      Username:<input type="text" name="username" id="username">
	  <br>
      Password:<input type="password" name="password" id="password">
      <br>
	  <input type="submit" name="submit" value="Submit">
</form>
<a href="/registration">Register</a>


</body>
</html>

